* {
    margin: 0px;
    padding: 0px;
}

.header {
    border-bottom: 2px solid cornflowerblue;
}
.navbar_nav {
    background-color:cornflowerblue;
    padding: 20px 0px;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.navbar_ul {
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
}

.navbar_container ul, a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.navbar_container ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.navbar_container ul li a:hover {
    font-family: Verdana;
    color: cornflowerblue;
    background-color: #fff;
    padding: 15px;
}

.header .nav_slider {
    background-image: url(./images/training.jpeg);
    height: 5px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 200px 0px;
    /* border-bottom: 2px solid #fff; */
}

.slider_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider_content h1 {
    color:cornflowerblue;
    margin: 15px 0px;
    padding: 2px 6px;
    font-size: 3rem;
    border: 2px solid cornflowerblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slider_content button {
    color: #fff;
    margin: 15px 0px;
    font-size: 1rem;
    padding: 10px;
    background-color:cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: none;
}

.about_us {
    display: flex;
    justify-content:flex-start;
}

.aboutus_box {
    width: 250px;
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin: 0px;
    padding: 0px;
}

.aboutus_box.box1 {
    background-image: url(images/alaba.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus_box.box2 {
    background-image: url(images/kenny.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus_box.box3 {
    background-image: url(images/mary.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus_box.box4 {
    background-image: url(images/austin.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus_box.box5 {
    background-image: url(images/mayowa.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus_box.box6 {
    background-image: url(images/peter.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus_box img {
    width: 360px;
    height: 250px;
}

.aboutus_title h1 {
    padding: 10px 0px;
    text-align: center;
    color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside > button {
        color: #fff;
        margin: 10px 10px;
        font-size: 1rem;
        padding: 10px;
        background-color:cornflowerblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border: none;
}